<div data-role="view" id="single-person" data-layout="default" class="person-view" data-model="app.Person" data-init="app.Person.init" data-show="app.Person.show">
    <div data-role="header">
        <div data-role="navbar">
            Person
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
            <a id="edit-person-button" class="nav-button"  data-icon="compose" data-align="right" data-role="button"></a>
        </div>
    </div>

    <div>
        <span id="personNameSpan" class="item-name-title center-text"></span>
        <span class="item-label">Club: </span><span id="personClubSpan"></span><br />
        <span class="item-label">FarmerType: </span><span id="personFarmerTypeSpan"></span><br />
        <span class="item-label">Other fields...</span>
    </div>    
    
</div>