#ulmApp .item-name-title {
    font-size: 1.5rem;
    display: block;
    margin-bottom: .3em;
}

#ulmApp .item-label {
    margin-left: 1em;
    margin-right: .2em;
}

#ulmApp .desc-label {
    margin-left: 12px;
}

#ulmApp .mapContainer {
    margin: 1em;
    height: 300px;
}

#ulmApp .no-decoration {
    text-decoration: none;
}