#srqApp .item-name-title {
    font-size: 1.5rem;
    display: block;
    margin-bottom: .3em;
}

#srqApp .item-label {
    margin-left: 1em;
    margin-right: .2em;
}

#srqApp .desc-label {
    margin-left: 12px;
}

#srqApp .mapContainer {
    margin: 1em;
    height: 300px;
}

#srqApp .no-decoration {
    text-decoration: none;
}

#srqApp .span-label {
    font-size: 1.4em;
}

#srqApp .form-paragraph {
    margin: 0px;
}