#olaApp .item-name-title {
    font-size: 1.5rem;
    display: block;
    margin-bottom: .3em;
}

#olaApp .item-label {
    margin-left: 1em;
    margin-right: .2em;
}

#olaApp .desc-label {
    margin-left: 12px;
}

#olaApp .mapContainer {
    margin: 1em;
    height: 300px;
}

#olaApp .no-decoration {
    text-decoration: none;
}

#olaApp .span-label {
    font-size: 1.4em;
}

#olaApp .form-paragraph {
    margin: 0px;
}