body {
}

textarea {
    resize: none;
}

#left-pane {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

#right-pane {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.button-container,
.km-nova .km-footer {
    background: transparent;
    padding: 0 .7em 0 .7em;
    box-sizing: -webkit-border-box;
    box-sizing: border-box;
}

#service-requests-view .km-buttongroup {
    width: 100%;
    background: none;
    border: 0;
    height: 100%;
    margin-top: 0;
}

    #service-requests-view .km-buttongroup .km-button {
        width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: none;
        border: 0;
        color: #222;
        text-transform: uppercase;
        font-size: .8em;
    }

    #service-requests-view .km-buttongroup .km-state-active {
        font-weight: bold;
    }

        #service-requests-view .km-buttongroup .km-state-active:after {
            content: "\a0";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -8px;
            border-color: #fff transparent;
            border-width: 0 8px 8px 8px;
            border-style: solid;
            width: 0;
            height: 0;
        }

#service-requests-view .km-header {
    height: 46px;
    background: -webkit-linear-gradient(bottom, #BFC7F3 0, #AAB1D9 100%);
    background: -ms-linear-gradient(bottom, #BFC7F3 0, #AAB1D9 100%);
    background: linear-gradient(to top, #BFC7F3 0, #AAB1D9 100%);
}

.km-view .button-container .asset-button,
.km-view .km-footer .asset-button {
    background: #FF4350;
    color: #fff;
    width: 100%;
    border: 0;
    margin: .7em 0 .7em 0;
    font-weight: bold;
}

.km-view .button-container .secondary-button,
.km-view .km-footer .secondary-button {
    background: none;
    border: 0;
    color: #FF4350;
    width: 100%;
    border: 0;
    margin: .7em 0 .7em 0;
    font-weight: bold;
}

.km-view .button-container .primary-button,
.km-view .km-footer .primary-button {
    background: none;
    color: #888E90;
    border-color: #888E90;
    width: 100%;
    margin: .7em 0 .7em 0;
    font-weight: bold;
}

.km-root .fa:before {
    font-family: FontAwesome;
    color: inherit;
    font-size: 1.3em;
}

.km-root .km-icon.fa:before {
    display: block;
}

.km-listview .listview-item-selected,
.km-nova .primary-button.km-state-active,
.km-nova .asset-button.km-state-active {
    box-shadow: inset 0 0 1000px rgba(0,0,0,.3);
}

.km-nova .secondary-button.km-state-active {
    opacity: .8;
}

#submit-service-request-view .km-buttongroup {
    width: 100%;
    margin: 0;
    font-size: .8em;
}

.km-root .km-listview .k-dropdown,
.km-root .km-listview .k-dropdown-wrap,
.km-root .km-listview textarea,
.km-root .km-listview input[type=textarea],
.km-root .km-listview input[type=password],
.km-root .km-listview input[type=email],
.km-root .km-listview input[type=date],
.km-root .km-listview input[type=text]:not(.k-input) {
    width: 100%;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    transform: none;
    -webkit-transform: none;
    padding: 1em 0 0;
    margin-top: -1em;
}

#submit-service-request-view .km-listview .title-text-box {
    font-size: 1.5em;
}

.label-header {
    display: block;
    color: #9CA3A6;
    font-size: .8em;
}

.km-view .km-listview .remove-button {
    border: 0;
    color: #FF4350;
    padding-left: 0;
}

.request-picture {
    width: 100%;
    display: block;
}

.listview-item {
    font-size: .9em;
}

.listview-item-status {
    color: #FF4350;
    font-size: 0.8em;
    margin-bottom: 3px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.listview-item-title {
    margin-bottom: 3px;
    display: block;
}

.listview-item-details {
    color: #9CA3A6;
    display: block;
    font-size: 0.9em;
}

.listview-item-duedate {
    display: inline;
}

.priority-label {
    position: absolute;
    right: 0;
    background-color: blue;
    color: #fff;
    text-transform: lowercase;
    padding: 1px 10px 1px 0px;
    margin-top: 3px;
    text-align: right;
}

.priority-low {
    width: 3em;
}

.priority-medium {
    width: 3.5em;
}

.priority-high {
    width: 4em;
}

.header-image {
    width: 100%;
    padding: 14px 12.365px 0 12.365px;
}

.title-label {
    display: block;
    font-size: 2em;
}

.header-margin {
    margin-top: 16px;
}

.margins {
    margin: 16px 12.365px 4px 12.365px;
}

.header-margins {
    margin: 8px 0;
}

.maintenance-type-label {
    margin-left: 12.365px;
}

.details-label {
    font-size: 1.2em;
}

    .details-label.priority-label {
        margin-top: -2px;
    }

.block-label {
    display: block;
}

.bold {
    font-weight: bold;
}

.details-header-label {
    color: #9CA3A6;
    margin-top: 8px;
}

.duedate-label {
    font-weight: bold;
}

#feedback-view .km-collapsible-header,
#service-request-details-view .km-collapsible-header {
    border-top-width: 0;
}

#feedback-view .km-collapsible-content,
#service-request-details-view .km-collapsible-content {
    background-color: #F8FAFB;
}

#feedback-view .km-collapsible-content {
    padding: 0;
}

#feedback-view .km-list > li {
    font-size: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
}

#master-pane,
#left-pane {
    border-right: 1px solid #F8FAFB;
}

.radio-group input[type=radio] {
    position: absolute;
    left: .8em;
    right: auto;
}

.radio-group .km-list li label {
    color: #000;
    padding-left: 3em;
}

.radio-group .km-list li {
    padding-top: .6em;
    padding-bottom: .6em;
    border-top-width: 0;
}

.km-list .k-dropdown .k-select {
    display: inline-block;
    float: right;
}

    .km-list .k-dropdown .k-select:before {
        font: 1em/1em normal "Kendo UI";
        content: "\e012";
        display: block;
    }

.km-list .k-dropdown .k-icon {
    display: none;
}

.km-list .k-dropdown .k-dropdown-wrap {
    padding: 1em 0 0;
    margin-top: -1em;
}

.header {
    text-align: center;
    font-size: 2.5em;
    margin: 32px 16px 16px 16px;
}

.validation-summary {
    background-color: #FF4350;
    color: #FFFFFF;
    width: 100%;
    padding: 12px 36px 12px 12px;
    z-index: 999;
}

.km-nova .close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: #FFFFFF;
}

.km-nova .remove-button.km-state-active {
    color: #D73843;
    background: none;
    border: none;
}

.km-nova .close-button.km-state-active {
    color: #dddddd;
    background: none;
    border: none;
}

.view-title-top {
    text-transform: uppercase;
}

.view-title-bottom {
    position: absolute;
    width: 100%;
    font-size: .77em;
    bottom: 3px;
    left: 0;
    line-height: initial !important;
}

#empty-view {
    font-size: 2em;
}

    #empty-view .content-label {
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        color: #9CA3A6;
    }

.address-label {
    color: blue;
    margin: 8px 12.365px 0 12.365px;
}