<div data-role="view" id="view-add-employee" data-layout="default" class="add-employee-view" data-model="app.AddEmployee" data-init="app.AddEmployee.init" data-show="app.AddEmployee.show" data-hide="app.AddEmployee.hide">
    <div data-role="header">
        <div data-role="navbar">
            Add Employee
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
        </div>
    </div>

    <form id="addEmployeeForm">
        <ul id="add-employee-form" data-role="listview" data-style="inset">
            <li>
                <input type="text" id="employeeName" data-bind="value: name" placeholder="Name" required/>
            </li>
            <li>
                <input type="text" id="employeePosition" data-bind="value: position" placeholder="Position" />
            </li>
            <li>
                <input type="text" id="employeeDepartment" data-bind="value: department" placeholder="Department" />
            </li>
        </ul>
    </form>
    
    <a class="btn btn-collection" data-role="button" data-bind="click: addEmployee">Add Employee</a>
</div>
