<div data-role="view" id="view-add-employee" data-layout="default" class="add-employee-view" data-model="app.EditEmployee" data-init="app.EditEmployee.init" data-show="app.EditEmployee.show" data-hide="app.EditEmployee.hide">
    <div data-role="header">
        <div data-role="navbar">
            Edit Employee
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
        </div>
    </div>

    <form id="editEmployeeForm">
        <ul id="edit-employee-form" data-role="listview" data-style="inset">
            <li>
                <input type="text" id="employeeName" data-bind="value: name" placeholder="Name" required/>
            </li>
            <li>
                <input type="text" id="employeePosition" data-bind="value: position" placeholder="Position" />
            </li>
            <li>
                <input type="text" id="employeeDepartment" data-bind="value: department" placeholder="Department" />
            </li>
        </ul>
    </form>
    <a class="btn btn-collection" data-role="button" data-bind="click: editEmployee">Edit Employee</a>
</div>
