<div data-role="view" id="single-employee" data-layout="default" class="employee-view" data-model="app.Employee" data-init="app.Employee.init" data-show="app.Employee.show">
    <div data-role="header">
        <div data-role="navbar">
            Employee
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
            <a id="edit-employee-button" class="nav-button" data-icon="compose" data-align="right" data-role="button"></a>
        </div>
    </div>

    <div>
        <span id="employeeNameSpan" class="item-name-title center-text"></span>
			<!-- Fill out more -->
        <span class="item-label">Other fields...</span>
    </div>    
    
</div>