<div data-role="view" id="view-employee-maintenance" data-layout="default" class="employee-maintenance-view" data-model="app.EmployeeMaintenance" data-init="app.EmployeeMaintenance.init">
    <div data-role="header">
        <div data-role="navbar">
            Employee Maintenance
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
            <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" href="views/addEmployeeView.html">Add Employee</a>
        </div>
    </div>

    <ul id="employees-listview"></ul>
</div>
        
<script type="text/x-kendo-template" id="employeeTemplate">
    <div data-role="touch" data-bind="events: { tap: employeeSelected }" class="cf">
        <div class="activity-content">
			<span>${name}</span>
		</div>
    </div>
</script>