<div data-role="view" id="view-main-menu" data-layout="default" class="main-menu-view" data-model="app.MainMenu">
    <div data-role="header">
        <div data-role="navbar">
            Main Menu
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" data-click="app.MainMenu.logout">Log out</a>
        </div>
    </div>

    <ul id="menu-listview" data-style="inset" data-role="listview" data-template="menuTemplate" data-bind="source: menuItems"></ul>
    
    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>No activities; something is wrong as this is hard coded data.  Check the console for errors.</b>
    </p>
</div>

<script type="text/x-kendo-template" id="menuTemplate">
    <div data-role="touch" class="cf">
        <a href='views/#:viewName#' data-role="listview-link" class="no-decoration">
        	<div class="activity-content">
        		<h2 class="person-name">${displayName}</h2>
        	</div>
		</a>
    </div>
</script>
