<div data-role="view" id="view-person-maintenance" data-layout="default" class="person-maintenance-view" data-model="app.PersonMaintenance" data-init="app.PersonMaintenance.init">
    <div data-role="header">
        <div data-role="navbar">
            People Maintenance
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
            <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" href="views/addPersonView.html">Add Person</a>
        </div>
    </div>

    <ul id="persons-listview"></ul>
</div>
        
<script type="text/x-kendo-template" id="personTemplate">
    <div data-role="touch" data-bind="events: { tap: personSelected }" class="cf">
        <div class="activity-content">
			<span>${Name}</span>
		</div>
    </div>
</script>